.container {
    display: flex;
    margin-top: 220px;
    align-content: center;
    justify-content: space-between;
    height: 450px;
    width: auto;
    box-shadow: 15px 15px 30px #44281d,
        -15px -15px 30px #97ce4c;
    background-image: linear-gradient(144deg, #97ce4c, #f0e14a 70%, #97ce4c);
    border-radius: 6rem;
    font-family: "get schwifty";
    flex-wrap: wrap;

}

.dataContainer {
    flex-direction: column;
    align-items: start;
    margin-left: 3rem;
}

.container h1 {
    text-align: left;
    color: black;
    font-size: 30px;
}

.imgContainer img {
    width: auto;
    margin-right: 3rem;
    margin-left: 2rem;
    border-radius: 3rem;
}

.div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}