.buttonContainer {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0%;
}

.card {
    width: 300px;
    height: 400px;
    transition: all 0.2s;
    position: relative;
    margin-left: 3.8rem;
    margin-top: 4rem;
    border-radius: 3rem;
    box-shadow: 15px 15px 30px #44281d,
        -15px -15px 30px #97ce4c;
    padding: 5px;
    background-image: linear-gradient(144deg, #97ce4c, #f0e14a 70%, #97ce4c);
    align-items: center;
    padding-bottom: 50px;
}

.card button h2 {
    font-family: "get schwifty";
    font-size: 35px;
}

.nameContainer {
    display: flex;
    height: 109px;
    justify-content: center;
    align-items: center;
margin-top: 2.28rem;
}

.card:hover {
    transform: scale(1.09);
}

.cardImg {
    margin-bottom: -3rem;
    border-radius: 3rem;
    margin-top: auto;
}

.closeButton {
    background-color: #5e4dcd;
    border: none;
    padding: 0.75rem;
    font-size: 0.7rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #97ce4c;
    cursor: pointer;
    position: absolute;
    left: 42.4%;
}

.closeButton:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

.closeButton:hover {
    background: lightcoral;
    color: white;
    transition-duration: 0.17s;

}

.closeButton:disabled {
    cursor: auto;
    color: grey;
}