.App {
   text-align: center;
}

.body {
   background-image: url(../img/27347-rick-y-morty.jpg);
}

.cardContainer {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.cards{
   display: flex;
   flex-wrap: wrap;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 0.5rem;
   color: black;
   align-items: center;
   text-align: center;
}

.card {
   background-color: #97ce4c;
   width: 300px;
   height: 471.2px;
   transition: all 0.2s;
   position: relative;
   cursor: pointer;
   margin-left: 3.8rem;
   margin-top: 4rem;
   border-radius: 3rem;
   box-shadow: 15px 15px 30px #44281d,
             -15px -15px 30px #97ce4c;
             padding: 5px;
  background-image: linear-gradient(144deg,#97ce4c, #f0e14a 70%,#97ce4c);
 }

 .card:hover {
   transform: scale(1.09);
 }

 .cardImg {
   border-radius: 3rem;
}

.button {
   background-color: #5e4dcd;
   border: none;
   padding: 0.75rem;
   font-size: 0.7rem;
   width: 3rem;
   border-radius: 1.5rem;
   color: #97ce4c;
   cursor: pointer;
  }
  
  button:active {
   color: white;
   box-shadow: 0 0.2rem #dfd9d9;
   transform: translateY(0.2rem);
  }
  
  button:hover {
   background: lightcoral;
   color: white;
   transition-duration: 0.17s;
   
  }
  
  button:disabled {
   cursor: auto;
   color: grey;
  }

  .input-group {
   margin-top: 4rem;
   align-items: center;
   margin-bottom: 2rem;
 }
 
 .input {
   min-height: 50px;
   max-width: 100px;
   padding: 0 1rem;
   color: #fff;
   font-size: 15px;
   border: 1px solid #5e4dcd;
   border-radius: 6px 0 0 6px;
   background-color: transparent;
   text-align: center;
 }
 
 .button--submit {
   min-height: 50px;
   padding: .5em 1em;
   border: none;
   border-radius: 0 6px 6px 0;
   background-color: #5e4dcd;
   color: #fff;
   font-size: 15px;
   cursor: pointer;
   transition: background-color .3s ease-in-out;
 }
 
 .button--submit:hover {
   background-color: #5e5dcd;
 }
 
 .input:focus, .input:focus-visible {
   border-color: #3898EC;
   outline: none;
 }